.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.link_card {
  list-style: none;
  display: flex;
  padding: 0.15rem;
  background-color: white;
  background-image: varF(--accent-gradient);
  background-size: 400%;
  border-radius: 0.5rem;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

  .link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
  }
}

.link_card:is(:hover, :focus-within) {
  background-position: 0;
}

.link_card:is(:hover, :focus-within) h2 {
  color: rgb(var(--accent));
}
