@use 'src/styles/utils/media-query' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include mediaQuery('pcOnly') {
    grid-template-columns: 1fr 1fr;
  }
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
}

.top {
  background: #fff;
}

.sub1 {
  background: #def;
}

.sub2 {
  background: #fed;
}
